* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 100%;
    font-size: 1em;
}

h1, h2 {
    font-family: 'Roboto', 'Helvetica', 'Calibri', sans-serif;
}

.container {
    width: 100%;
    margin: 1em;
    background-color: #FFF;
}

.section-img {
    padding: 0.5em;
    background-color: #ffd7be;
    width: 35%;
}

.section-img h2 {
    text-transform: capitalize;
    font-size: 1.2rem;
}

.section-img p {
    text-decoration: none;
    text-align: justify;
    overflow: hidden;
    text-indent: 0.75rem;
}

.section-img img {
    width: 75%;
    border: 0.5em solid rgba(255, 255, 255, 0.5);
}
